/* Edge-Frfox */
@import url("content/common.css");
@import url("content/newtab.css");
@import url("tweaks/sidebery.css") (-moz-bool-pref: "uc.tweak.theme.sidebery");

/* Import custom stylesheet instead of modifying Edge-Frfox theme files. */
@import url("customContent.css");
