#root.root {
    --tabs-inner-gap: 0.59rem;
}

#root.root {
    --tabs-height: 41px;
}

#root.root {
    --tabs-close-btn-margin: 10px;
}

#root.root {
    --ntb-btn-height: 40px;
}

#root.root {
    --tabs-audio-btn-width: 1rem;
}