#root.root {
    --tabs-inner-gap: 11.5px;
}

#root.root {
    --ntb-padding: 4px;
}

#root.root {
    --tabs-height: 43px;
}

#root.root {
    --tabs-close-btn-margin: 10px;
}

#root.root {
    --ntb-btn-height: 40px;
}

#root.root {
    --tabs-audio-btn-width: 1rem;
}