:root.sidebar #background {
  background: var(--browser-bg-images);
  background-size: min(10rem, 100%) auto;
  background-repeat: no-repeat;
  background-position: bottom;
}

:root.simulate-svg-context-fill .newtab-button::after {
  content: var(--tab-count-text);
  pointer-events: none;
  width: 100%;
  background: transparent !important;
  mask: none !important;
}

tab-item tab-item-substance {
  /* height: 2rem !important; */
  height: unset !important;
}

tab-item.active .background {
  backdrop-filter: saturate(180%) blur(20px);
}

#sidebar-box {
  width: 100px !important;
}

#tabbar {
  counter-reset: vtabs atabs tabs;
}
tab-item:not(.collapsed):not(.discarded) {
  counter-increment: vtabs atabs tabs;
}
tab-item:not(.collapsed) {
  counter-increment: vtabs tabs;
}
tab-item:not(.discarded) {
  counter-increment: atabs tabs;
}
tab-item {
  counter-increment: tabs;
}
#tabbar tab-item tab-item-substance:not(:hover) tab-closebox {
  display: none;
}

.newtab-button {
  --tab-count-text: counter(atabs) " / " counter(tabs) " 💤";
}

.newtab-button-box:hover {
  backdrop-filter: saturate(180%) blur(20px);
  border-radius: 4px;
  background-size: 80%;
}
tab-item.pinned {
  backdrop-filter: saturate(180%) blur(20px);
  border-radius: 4px;
}

/* Push tab labels slightly to the right so they're completely hidden in collapsed state. */
tab-item .label {
  margin-left: 7px;
}

/* Hide close buttons on tabs. */
tab-item .closebox {
  visibility: collapse;
}

tab-item:hover .closebox {
  visibility: initial;
}

/* Hide sound playing/muted button. */
.sound-button::before {
  display: none !important;
}

/* Center the new tab sign in collapsed state. */
.newtab-button {
  padding-left: 0.48em !important;
}
