/* Overwrite some colours */
:root {
  --tab-separator: transparent;
  --tab-selected-line: transparent;
  --tablist-separator: #cccccc;
  --overflow-indicator-border: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1b22;
    --icons: rgb(251, 251, 254);
    --tab-separator: transparent;
    --tab-active-background: rgb(66, 65, 77);
    --tab-active-text: rgb(251, 251, 254);
    --tab-text: #fbfbfe;
    --toolbar-background: rgb(43, 42, 51);
    --toolbar-text: rgb(251, 251, 254);
    --input-background: rgb(28, 27, 34);
    --input-border: transparent;
    --input-background-focus: rgb(66, 65, 77);
    --input-selected-text: rgb(251, 251, 254);
    --input-text: rgb(251, 251, 254);
    --input-text-focus: rgb(251, 251, 254);
    --identity-color-toolbar: rgb(251, 251, 254);
    --tablist-separator: #333333;
    --overflow-indicator-border: #cccccc;
  }
}

:root,
body {
  overflow: hidden;
}

#topmenu {
  order: 2;
  background: transparent;
  border: none;
}

#newtab {
  margin-left: 6px;
}

#settings {
  margin-right: 2px;
}

#filterbox-icon,
#filterbox-input,
#settings {
  display: none;
}

#tablist-wrapper {
  height: auto;
  margin-inline: 6px;
  margin-top: 5px;
}

#pinnedtablist:not(.compact) {
  display: flex;
  flex-direction: column;
}

#tablist-wrapper::after {
  content: "";
  margin: 2px 0;
  border: 1px solid var(--tablist-separator);
}

#newtab {
  flex-grow: 1;
  margin-right: 2px;
  margin-left: 2px;
  padding-left: 9px;
  min-width: 36px;
  width: 100%;
}

.tab,
.tab.active {
  border-radius: 4px;
  border-bottom: none !important;
  margin: 1px 0;
  background-color: #ffffff44;
}

.tab.discarded {
  background-color: transparent;
}

#pinnedtablist:not(.compact) .tab,
#tablist .tab {
  padding: 0;
}

#newtab::after {
  content: "New tab";
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
}

#newtab-icon {
  min-width: 16px;
}

@media (min-width: 49px) {
}

#tablist-wrapper {
  margin-left: 0px;
  padding-left: 6px;
}

#tablist,
#pinnedtablist:not(.compact) {
  margin-left: -6px;
  padding-left: 6px;
}

.tab {
  overflow: visible;
  background-color: #ffffff22;
}

#tablist .tab[data-identity-color] .tab-context,
#pinnedtablist:not(.compact) .tab[data-identity-color] .tab-context {
  box-shadow: none !important;
}

#tablist .tab[data-identity-color] .tab-context::before,
#pinnedtablist:not(.compact) .tab[data-identity-color] .tab-context::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -6px;
  bottom: 6px;
  width: 3px;
  border-radius: 0 5px 5px 0;
  background: var(--identity-color);
  transition: inset 0.1s;
}

#tablist .tab.active[data-identity-color] .tab-context::before,
#pinnedtablist:not(.compact) .tab.active[data-identity-color] .tab-context::before {
  top: 1px;
  bottom: 1px;
}

#tablist-wrapper.shrinked > :not(#pinnedtablist.compact) .tab-meta-image {
  margin-left: 6px !important;
}

@media (max-width: 64px) {
  .tab-close,
  .tab-pin {
    visibility: collapse !important;
  }

  #tablist {
    scrollbar-width: none;
  }
}

@media (max-width: 48px) {
  #settings-icon,
  #tablist-wrapper .tab-title-wrapper,
  #newtab::after,
  #settings {
    visibility: hidden !important;
  }
}

.can-scroll-top #tablist {
  mask: linear-gradient(transparent, black 40px);
}

.can-scroll-bottom #tablist {
  mask: linear-gradient(black calc(100% - 40px), transparent);
}

.can-scroll-bottom.can-scroll-top #tablist {
  mask: linear-gradient(transparent, black 40px calc(100% - 40px), transparent);
}

#topshadow,
#bottomshadow {
  display: none;
}

#tablist-wrapper:not(.can-scroll-bottom):not(.can-scroll-top) #tablist {
  overflow: hidden;
}

#pinnedtablist.compact {
  /* flex-wrap: nowrap; */
  overflow-x: auto;
  gap: 2px;
}

#pinnedtablist.compact:not(:hover):not(:focus-within) {
  scrollbar-width: none;
}

#pinnedtablist.compact .tab {
  min-width: 36px;
  background-color: #ffffff88;
}

@media (max-width: 48px) {
  #pinnedtablist.compact {
    overflow-x: clip;
  }

  #pinnedtablist.compact .tab.active {
    order: -1;
  }
}

#tablist-wrapper:not(.shrinked) .tab-meta-image {
  display: flex;
  align-items: center;
  width: 42px;
  border: 0 !important;
  margin-right: 4px;
  border-radius: inherit;
  background-position: center;
  min-width: 0px !important;
  background-color: var(--toolbar-background) !important;
  transition: margin 0.4s;
}

#tablist-wrapper:not(.shrinked) .tab-icon-wrapper {
  transition: margin 0.1s;
  z-index: 2;
}

#tablist-wrapper:not(.shrinked) .tab-icon-overlay {
  top: unset !important;
  bottom: 8px;
  left: 25px !important;
  z-index: 4;
  transition: inset 0.1s;
}

@media (max-width: 49px) {
  #tablist-wrapper:not(.shrinked) .tab-meta-image {
    background-color: inherit !important;
    border-width: 0 !important;
    box-shadow: none !important;
    height: 0 !important;
    width: 26px;
    margin-right: 0px;
  }

  #tablist-wrapper:not(.shrinked) .tab-icon-wrapper {
    background-color: transparent !important;
    margin-top: 0 !important;
    margin-left: 3px !important;
    box-shadow: none !important;
  }

  #tablist-wrapper:not(.shrinked) .tab-icon-overlay {
    bottom: 12px;
    left: 16px !important;
  }
}

#spacer {
  min-height: 100vh;
}

#tablist-wrapper {
  margin-bottom: -100vh;
}

#tablist-wrapper::after {
  transform: translateY(-100vh);
}

#tablist {
  direction: rtl;
}

.tab {
  direction: ltr;
}

body .tab .tab-icon {
  filter: url('data:image/svg+xml;,<svg xmlns="http://www.w3.org/2000/svg"><filter id="s"><feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 -0.2125 -5 -0.0721 1 0" /><feMorphology operator="dilate" radius="1"/><feComponentTransfer><feFuncA type="gamma" offset="0" amplitude="1" exponent="2"/></feComponentTransfer><feGaussianBlur stdDeviation="0.5"/><feComposite in="SourceGraphic" operator="over"/></filter></svg>#s');
}

#sidebar-header {
  background: #0c0c0d;
  border-bottom: none !important;
}

#sidebar-splitter {
  border-right-color: #0c0c0d !important;
  border-left-color: #0c0c0d !important;
}

#sidebar-switcher-target,
#sidebar-close {
  filter: invert(100%);
}
