#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
  position: relative !important;
  transition: all var(--sidebar-extend-duration) !important;
  resize: both;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover {
  transition-delay: var(--sidebar-extend-delay) !important;
  min-width: var(--sidebar-max-width) !important;
  max-width: var(--sidebar-max-width) !important;
  resize: both;
  margin-right: calc((var(--sidebar-max-width) - var(--sidebar-min-width)) * -1) !important;
  z-index: 1;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:not(:hover) {
  transition-delay: var(--sidebar-hide-delay) !important;
  margin-right: 0 !important;
  z-index: 1;
}
