:root {
  --thin-tab-width: var(--sidebar-min-width);
  --wide-tab-width: var(--sidebar-max-width);
}

#sidebar-box:not([sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]) {
  min-width: var(--wide-tab-width) !important;
  max-width: none !important;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
  position: relative !important;
  transition: all var(--sidebar-extend-duration) !important;
  max-width: var(--sidebar-max-width) !important;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover {
  transition-delay: var(--sidebar-extend-delay) !important;
  min-width: var(--sidebar-max-width) !important;
  max-width: var(--sidebar-max-width) !important;
  margin-right: calc((var(--sidebar-max-width) - var(--sidebar-min-width)) * -1) !important;
  z-index: 1;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:not(:hover) {
  transition-delay: var(--sidebar-hide-delay) !important;
  margin-right: 0 !important;
  transition-property: margin-right;
  z-index: 1;
}
