@supports (backdrop-filter: blur(4px)) {
  #urlbar[breakout-extend] > #urlbar-background {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(24, 24, 24, 0.24);
  }
  #urlbar[breakout-extend][open] > #urlbar-background {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(24, 24, 24, 0.24);
  }
}

#urlbar[breakout][breakout-extend][open] .urlbarView-body-inner::before {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(24, 24, 24, 0.24);
}
