:root {
  /* delay before expanding tabs, set to '0' for no delay */
  --delay: 2.2s;
  --transition-time: 0.2s;
  --positionX1: 4rem;
  /* '48px' for left, '0px' for right sidebar */
  --positionX2: absolute;
  /* 'absolute' for left, 'none' for right sidebar */

  /* width of the collapsed sidebar in fullscreen mode ('1px' or '48px') */
  --fullscreen-sidebar-width: 4rem;

  /* side bar config */
  --sidebar-max-width: 20rem;
  --sidebar-min-width: 48px;
  --sidebar-extend-delay: 2s;
  --sidebar-hide-delay: 0.7s;
  --sidebar-extend-duration: 300ms;
}

/* override hide-tabs-bar.css */
@media -moz-pref("uc.tweak.rounded-corners") {
  #sidebar-box {
    margin-inline-start: 2px !important;
    margin-block-end: 2px !important;
    &[positionend] {
      margin-inline-start: 0 !important;
      margin-inline-end: 0 !important;
    }
  }
}
#sidebar-box:where([sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not([hidden])),
#sidebar-box:where([sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:not([hidden])),
#sidebar-box:where([sidebarcommand="tabcenter-reborn_ariasuni-sidebar-action"]:not([hidden])) {
  @media -moz-pref("uc.tweak.rounded-corners") {
    @media -moz-pref("uc.tweak.theme.sidebery") {
      &:not([positionend]) {
        padding-inline-end: 0px;
      }

      &[positionend] {
        padding-inline-start: 0px;
      }
    }
  }
}

/* Suppress "white flash" on showing sidebar in Dark color mode #2903 */
@-moz-document regexp("moz-extension://.+/sidebar/sidebar.html.*")
{
  :root,
  #background {
    background-color: rgb(128, 128, 128);
  }
}

/* Remove sidebar-header */
#sidebar-header {
  display: none;
}

/* sidebar size */
#sidebar-box {
  max-width: var(--sidebar-max-width) !important;
  min-width: var(--sidebar-min-width) !important;
}

/* General styles */
#browser {
  position: relative;
}

#sidebar-box:not([lwt-sidebar]) {
  appearance: unset !important;
}

#main-window[inFullscreen] #sidebar {
  height: 100vh;
}

@media (max-width: 630px) {
  #urlbar-container {
    min-width: 100% !important;
  }

  #menubar-items {
    display: none !important;
  }
}
