/* import this file will make createProfileWizard dialog background transparent */
/* use with MicaForEveryone */
@-moz-document url("chrome://mozapps/content/profile/createProfileWizard.xhtml")
{
  .wizard-header {
    background-color: transparent !important;
    border-bottom: none !important;
    height: 40px !important;
    vertical-align: middle;
  }
  .wizard-header-label {
    margin: 5.75px 12px 0px 12px !important;
  }
  .wizard-buttons-separator {
    display: none !important;
  }
  .wizard-next-deck {
    margin-left: 10px !important;
  }
}
