/* import this file will make exceptionDialog background transparent */
/* use with MicaForEveryone */
@-moz-document url("chrome://pippki/content/exceptionDialog.xhtml")
{
  #exceptiondialog {
    background-color: black !important;
  }
  .dialog-content-box {
    color: white !important;
  }
  caption {
    background-color: transparent !important;
    font-size: 16px !important;
    font-weight: bold !important;
  }
  vbox > image {
    display: none !important;
  }
  #locationGroupBox {
    margin-top: 5px !important;
  }
}
