@-moz-document url("chrome://browser/content/pageinfo/pageInfo.xhtml")
{
  /* Change Header Size */
  #topBar {
    color: lightgray !important;
    border: none !important;
  }
  #permHostBox > label {
    margin-top: 7px !important;
  }
  #permList {
    border: none !important;
    -moz-appearance: none !important;
  }
  #feedListbox {
    border: none !important;
    -moz-appearance: none !important;
  }
  #feedListbox > richlistitem {
    padding-inline-start: 0px !important;
    padding-inline-end: 0px !important;
  }
  #feedListbox richlistitem:not([selected="true"]) {
    border-bottom: 0px !important;
  }
  .text-link {
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
  }
  .permission {
    border: none !important;
  }
  .permission:hover {
    background-color: #191919 !important;
    color: white !important;
  }
  .permission:hover:active {
    background-color: #333333 !important;
  }
  caption {
    background-color: transparent !important;
    font-size: 16px !important;
    font-weight: bold !important;
  }
  #imagecontainerbox {
    background-color: black !important;
    border: none !important;
  }
  #viewGroup > radio {
    padding-left: 13px !important;
    padding-right: 13px !important;
    padding-top: 9.5px !important;
    padding-bottom: 9.5px !important;
  }
  #viewGroup > radio[selected="true"] {
    background-color: transparent !important;
    border-bottom: 3px solid AccentColor;
    padding-bottom: 6.5px !important;
  }
  #viewGroup > radio > .radio-label-box {
    outline: none !important;
  }
  #viewGroup > radio:hover {
    background-color: rgb(60, 60, 60) !important;
    color: white !important;
  }
}
