/* import this file will make library & download window background transparent */
@-moz-document url("chrome://browser/content/places/places.xhtml")
{
  #placesList,
  #detailsPane,
  #placesPopupset,
  #placesToolbox,
  #placesToolbar,
  #downloadsListBox,
  #placeContent,
  #places {
    background-color: transparent !important;
    border: 0px !important;
  }
  #infoBox {
    border-top: 1px solid var(--panel-separator-color) !important;
  }
  #placesView > splitter {
    border-inline-end: 1px solid var(--panel-separator-color);
  }
  #infoBox {
    border-top: 1px solid var(--panel-separator-color) !important;
  }
}
