#root.root {
  --tabs-inner-gap: 11px;
}
#root.root {
  --scroll-color: rgba(255, 255, 255, 0.5);
}
#root.root {
  --ntb-btn-height: 46px;
}
#root.root {
  --accent: #47cfffff;
}
#root.root {
  --frame-bg: rgba(0, 0, 0, 0);
}
#root.root {
  --tabs-height: 48px;
}
#root.root {
  --general-border-radius: 8px;
}
:root {
  background-color: transparent;
}
.Tab {
  padding-bottom: 3px;
}
.Tab[data-active="true"] .body {
  background-color: light-dark(#f7f7f780, #3b3b3bb2);
}
.Tab .fav,
.fav-icon {
  width: 20px !important;
  height: 20px !important;
}
.audio {
  width: 1rem;
  height: 1rem;
}
