#root.root {
  --tabs-inner-gap: 12px;
}
#root.root {
  --ntb-padding: 4px;
}
#root.root {
  --scroll-color: rgba(255, 255, 255, 0.5);
}
#root.root {
  --ntb-btn-height: 42px;
}
#root.root {
  --accent: #47cfffff;
}
#root.root {
  --frame-bg: rgba(0, 0, 0, 0);
}
#root.root {
  --tabs-height: 48px;
}
#root.root {
  --general-border-radius: 8px;
}
:root {
  background-color: transparent;
}
.TabsPanel .new-tab-btns {
  margin-top: 7px !important;
}
.Tab {
  margin-bottom: 2px !important;
}
.Tab .fav,
.fav-icon {
  width: 20px !important;
  height: 20px !important;
}
.audio {
  width: 1rem;
  height: 1rem;
  margin-left: 5px;
}
